<?xml version="1.0"?>
<launch>
	<param name="use_sim_time" value="true" />
	<param name="pkg_path" value="$(find hdetect)"/>

	<!-- laser shadow filtering file -->
	<rosparam command="load" file="$(find hdetect)/yaml/laser_filter.yaml"/>

	<!-- older base -->
  	<!--node pkg="tf" type="static_transform_publisher" name="laser_to_camera"
    	args="0.055360992904849 -0.0311190557844302 -0.0198410310814696 
    	-3.12632591028048 -0.00464314210625259 -0.0196141309638589 /laser /camera 20" /-->

        <!-- yellow base inv phi
  	<node pkg="tf" type="static_transform_publisher" name="laser_to_camera"
    	  args="0.01070505651962671764 -0.06722345284252317921 -0.03089017107345514920 
			    3.12148546397231552163 -0.01876295705026196844 0.10236192367415890281
                            /laser_top /camera 20" /> -->
<!--       <node pkg="tf" type="static_transform_publisher" name="laser_to_camera"
        args="0.0 0.0 0.0 -1.552 0.08 -1.588 /hokuyo_laser_link /logitech_camera_link 20" /> 


       <node pkg="tf" type="static_transform_publisher" name="laser_to_camera_link"
        args="0.0 -0.015 -0.08 0.0 0.04 0.03 /hokuyo_laser_link /logitech_camera_link 20" />

       <node pkg="tf" type="static_transform_publisher" name="laser_to_camera"
        args="0.0 0.0 0.0 -1.57079 0.0 -1.57079 /logitech_camera_link /logitech_camera 20" /> -->

        <node pkg="hdetect" type="recognizeRT" name="recognizeRT" output="screen" cwd="node"
              args="/logitech_camera/image_raw /scan">

             <param name="/camera_yaml" value="$(find hdetect)/yaml/logitech_cam_hd.yml"/>
             <param name="/camera_name" value="00b09d0100aa73bb"/>
             <param name="/boost_xml" value="$(find hdetect)/data/trained_boost.xml"/>
             <param name="odom_topic" value="/odom"/>
             <param name="odom_ekf_topic" value="/ekf_pose/odom_combined"/>
             <param name="amcl_topic" value="/amcl_pose"/>
             <param name="use_amcl" value="false"/>
             <rosparam command="load" file="$(find hdetect)/yaml/detector.yaml"/>
        </node>

	<node pkg="rosbag" type="play" name="play" output="screen" 
                  args=" $(find hdetect)/bag/bag1.bag --pause --clock --loop "/>

<!--	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find hdetect)/rviz/hdetect2.rviz"/> -->

</launch> 
