<?xml version="1.0"?>

<launch>
	<param name="use_sim_time" value="false" />
        <!-- laser shadow filtering file -->
        <rosparam command="load" file="$(find hdetect)/yaml/laser_filter.yaml"/>

	<node pkg="hdetect" type="recognizeRT" name="recognizeRT" output="screen" cwd="node"
		  args="/logitech_camera/image_raw /scan">

		<param name="/camera_yaml" value="$(find hdetect)/yaml/logitech_cam_hd.yml"/>
		<param name="/camera_name" value="00b09d0100aa73bb"/>
		<param name="/boost_xml" value="$(find hdetect)/data/trained_boost.xml"/>
                <param name="odom_topic" value="/odom"/>
                <param name="odom_ekf_topic" value="/ekf_pose/odom_combined"/>
                <param name="amcl_topic" value="/amcl_pose"/>
                <param name="use_amcl" value="false"/>
                <rosparam command="load" file="$(find hdetect)/yaml/detector.yaml"/>

	</node>

</launch> 
